'''
This sets the credentials and such for your server
'''

#LDS
URI = "http://localhost/rpc/api"
KEY = ""
SECRET = ""
CA = None

#RHS5
SATELLITE_URL = "http://localhost/rpc/api"
SATELLITE_LOGIN = "scriptuser"
SATELLITE_PASSWORD = ""

#weburl
WEBLISTURL = []

DISABLEPROXY = False
