'''
This sets the credentials and such for your server
'''

#LDS
uri = "http://localhost/rpc/api"
key = ""
secret = ""
ca = None

#RHS5
satellite_url = "http://localhost/rpc/api"
satellite_login = "scriptuser"
satellite_password = ""
