'''
This sets the credentials and such for your server
'''

satellite_url = "http://localhost/rpc/api"
satellite_login = "scriptuser"
satellite_password = ""
#All groups that start with this will be processed
prefix = "AP"
#If you want to schedule for any month other than next, change this
startdate = None
